@charset "utf-8";
* { margin:0; padding:0; box-sizing:border-box }
a { text-decoration:none; color:inherit }
::-moz-placeholder {
    color: #fff;
  }
  
  ::placeholder {
    color: #fff;
  }
  
  body {
    background: #ddd;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    border: none;
  }

  .shadow {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03)
  }