<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <h2>다양한 데이터의 출력</h2>
    <div id="app">
      <p>{{ myText }}</p>
      <p v-text="myText"></p>
      <p v-html="myHtmlText"></p>
      <p>숫자 {{ myNumber }}</p>
      <p>부울형 {{ myBool }}</p>
      <ul>
        <!-- 배열 {{ myArray }} -->
        <li v-for="(item, index) in myArray">{{ index}}번 : {{ item}}값</li>
        <!-- 0번 : 1값 -->
      </ul>
      <ul>
        <!-- 오브젝트 {{ myObject }} -->
        <li v-for="(item) in myObject">
          <span v-for="(value, key) in item"> {{ key }} : {{ value }} </span>
          <!-- {{ item.name }} : {{ item.price }} -->
        </li>
      </ul>
      <p>{{ $data }}</p>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          myText: "Vue 를 배워 봅시다. 이렇게 그냥 출력할수도 있고",
          myHtmlText: "<h3> 태그를 넣어서 출력할 수도 있습니다.</h3>",
          myNumber: 12345,
          myBool: true,
          myArray: [1, 2, 3, 4, 5],
          myObject: [
            { name: "다즐링", price: 600 },
            { name: "얼그레이", price: 500 },
            { name: "실론", price: 500 },
          ],
        },
      });
    </script>
  </body>
</html>
