<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <h2>좀더 좋아진 ToDo리스트</h2>
    <div id="app">
      <div v-for="(todo, index) in todos">
        <label>
          <input type="checkbox" v-model="todo.done" />
          <span v-bind:class="{donestyle:todo.done}">{{todo.text}}</span>
          <span v-bind:class="{donestyle:todo.done}"
            >( 완료일 {{todo.DueDate}} )</span
          >
          <button v-on:click="extendDate(index)">완료일 연장</button>
        </label>
      </div>

      <input
        type="text"
        v-model.trim="addtext"
        v-on:keyup.enter="addToDo"
        placeholder="할일"
        ref="todotext"
      />
      /
      <input
        type="text"
        v-model.trim="dueDate"
        v-on:keyup.enter="addToDo"
        placeholder="완료일"
      />
      (YYYYMMDD 형식으로 입력)
      <p>
        <button v-on:click="cleanToDo">처리완료삭제</button>
        <button v-on:click="sortData('todo')">할일순으로 정렬</button>
        <button v-on:click="sortData('date')">완료일로 정렬</button>
      </p>

      <p>
        {{ todos.length }}건 중 {{ remaining }}건 처리, {{overdate}}건 완료일
        지남
      </p>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          addtext: "",
          dueDate: "",
          todos: [
            { done: false, text: "빵사기", DueDate: "20240301" },
            { done: false, text: "커피사기", DueDate: "20240302" },
            { done: false, text: "공부하기", DueDate: "20240229" },
            { done: false, text: "놀기", DueDate: "20240221" },
            { done: false, text: "영화보기", DueDate: "20240220" },
          ],
        },
        computed: {
          remaining() {
            return this.todos.filter((val) => val.done).length;
          },
          overdate() {
            return this.todos.filter((val) => {
              let today = new Date();
              let due_date = this.dateChange(today);
              return val.DueDate < due_date;
            }).length;
          },
        },
        methods: {
          cleanToDo() {
            this.todos = this.todos.filter((val) => !val.done);
          },
          addToDo() {
            if (this.addtext) {
              if (!this.dueDate) {
                let date = new Date();
                // Date.parse(날짜) : 1970년 1월 1일부터 지정한 날짜까지 얼마큼 흘렀는지 ms를 구해줌
                date = new Date(Date.parse(date) + 1000 * 60 * 60 * 24);
                this.dueDate = this.dateChange(date);
              }
              this.todos.push({
                done: false,
                text: this.addtext,
                DueDate: this.dueDate,
              });
              this.addtext = "";
              this.dueDate = "";
              this.$refs.todotext.focus();
            }
          },
          dateChange(date) {
            let year = date.getFullYear(); // 2024
            let month = new String(date.getMonth() + 1); // 2
            if (month.length === 1) {
              month = "0" + month;
            }
            let day = new String(date.getDate()); // 22
            if (day.length === 1) {
              day = "0" + day;
            }
            return year + month + day;
          },
          sortData(type) {
            if (type == "todo") {
              this.todos.sort(function (a, b) {
                return a.text < b.text ? -1 : 1;
              });
            } else {
              this.todos.sort(function (a, b) {
                return a.DueDate < b.DueDate ? -1 : 1;
              });
            }
          },
          extendDate(index) {
            let str_date = this.todos[index].DueDate;
            let yy = str_date.substr(0, 4);
            let mm = str_date.substr(4, 2);
            let dd = str_date.substr(6, 2);
            let date = new Date(
              Date.parse(new Date(yy, mm - 1, dd)) + 1000 * 60 * 60 * 24
            );
            this.todos[index].DueDate = this.dateChange(date);
          },
        },
      });
    </script>

    <style>
      .donestyle {
        text-decoration: line-through;
        color: lightgray;
      }
    </style>
  </body>
</html>
