<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <h2>ToDo리스트</h2>
    <div id="app">
      <div v-for="todo in todos">
        <label>
          <input type="checkbox" v-model="todo.done" />
          <span v-bind:class="{donestyle:todo.done}">{{todo.text}}</span>
        </label>
      </div>
      <input
        type="text"
        v-model="addtext"
        v-on:keyup.enter="addToDo"
        placeholder="할일"
      />
      <p>
        <button @click="cleanToDo">완료일정 삭제</button>
      </p>
      <p>{{ remaining }} / {{ todos.length }}건 처리</p>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          addtext: "",
          todos: [
            { done: false, text: "빵사기" },
            { done: false, text: "커피사기" },
          ],
        },
        computed: {
          remaining() {
            return this.todos.filter((value) => value.done).length;
          },
        },
        methods: {
          addToDo() {
            if (this.addtext) {
              this.todos.push({ done: false, text: this.addtext });
              this.addtext = "";
            }
          },
          cleanToDo() {
            // todos 배열에서 done의 값이 false인 것들만 filter()해서
            // todos 배열에 새로 저장
            this.todos = this.todos.filter((value) => !value.done);
          },
        },
      });
    </script>

    <style>
      .donestyle {
        text-decoration: line-through;
        color: lightgray;
      }
    </style>
  </body>
</html>
